/*Media queries*/
@media (max-width: 2000px) {
    .content-homepage {
        width: 70%;
    }
}

@media (max-width: 992px) {

    .container-work-homepage p,
    .container-blog-homepage p,
    .container-aboutpage p,
    .container-link-article a,
    .go-back-container a, 
    .text-article p,
    li span,
    .code-snippet  {
        font-size: 1rem;
    }

    .weather-app-img {
        margin-bottom: 30px;
    }

    /*About.html*/
    .work-title-container-aboutpage {
        width: 80%;
        padding: 15px;
    }

    .work-title-container-aboutpage h2,
    .contact-container h2,
    .articles-container h2 {
        font-size: 1.5rem;
    }

    .work-info-text {
        padding-bottom: 40px;
        width: 70%;
        display: block;
        margin: 0 auto;
        margin-top: 30px;
    }

    /*Blog.html*/
    .blog-container {
        width: 80%;
    }

    /*htmlBestPractices.html*/
    .articles-container,
    .text-article,
    .code-snippet {
        width: 85%;
    }

    .img-Header-container,
    .img-cssHeader-container,
    .img-jsHeader-container {
        height: 200px;
    }

    .articles-container h2 {
        margin-top: 30px;
    }
}

@media (min-width: 960px) {
    .typewriter h3 {
        max-width: fit-content;
        overflow: hidden;
        /* Ensures the content is not revealed until the animation */
        border-right: .15rem solid var(--secondary-color);
        /* The typwriter cursor */
        white-space: nowrap;
        /* Keeps the content on a single line */
        margin: 0 auto;
        /* Gives that scrolling effect as the typing happens */
        animation:
            typing 6.5s steps(70, end),
            blink-caret .75s step-end infinite;
    }

    /* The typing effect */
    @keyframes typing {
        from {
            width: 0
        }

        to {
            width: 100%
        }
    }

    /* The typewriter cursor effect */
    @keyframes blink-caret {

        from,
        to {
            border-color: transparent
        }

        50% {
            border-color: var(--secondary-color)
        }
    }
}

@media (max-width: 700px) {

    /*Blog.html*/
    .content-homepage,
    .blog-container {
        width: 85%;
    }
    
    /*htmlBestPractices.html*/
    .articles-container,
    .text-article,
    .code-snippet {
        width: 90%;

    }

    .articles-container h2 {
        font-size: 1.1rem;
        margin-top: 30px;
    }
}

@media (max-width: 500px) {
    .content-homepage {
        padding-top: 15px;
        width: 90%;
    }

    .container-work-homepage,
    .container-blog-homepage {
        padding: 20px;
    }

    .container-link {
        display: block;
        margin: auto;
        margin-bottom: 50px;
        text-align: center;
    }

    /*About.html*/
    .container-aboutpage {
        margin: 20px;
    }

    .work-title-container-aboutpage {
        width: 95%;
        padding: 15px;
    }

    .work-title-container-aboutpage h2,
    .contact-container h2 {
        font-size: 1.2rem;
    }

    .container-work-homepage p,
    .container-blog-homepage p,
    .container-aboutpage p,
    .blog-description p,
    .container-link-article a,
    .go-back-container a, 
    .text-article p,
    li span,
    .code-snippet {
        font-size: 0.8rem;
    }

    .link-web {
        font-size: 0.9rem;
    }

    .contact-container {
        width: 90%;
    }

    /*Blog.html*/
    .article {
        margin: 20px;
    }

    .blog-description {
        margin: 10px;
        padding: 20px;
    }

    /*htmlBestPractices.html*/
    .img-Header-container,
    .img-cssHeader-container,
    .img-jsHeader-container {
        height: 150px;
    }

    .text-article {
        width: 95%;
    } 
    .articles-container h2 {
        font-size: 0.9rem;
        margin-top: 25px;
    }
}
