:root {
    --primary-color: rgb(238, 238, 238);
    --secondary-color: rgb(121, 113, 234);
    --third-color: rgb(57, 62, 70);
    --fourht-color: rgb(34, 40, 49);
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
    font-family: 'Comfortaa', sans-serif;
}

.navbar-dark .navbar-brand {
    font-family: 'Caveat', cursive;
    margin-left: 20px;
    padding: 5px 10px 5px 10px;
    font-weight: bold;
    font-size: 30px;
    color: var(--primary-color);
    opacity: 0.8;
    border: 1.5px solid var(--secondary-color);
    border-radius: 2px;
}

.navbar-dark .navbar-nav .nav-link {
    margin: 5px;
    font-size: large;
}

.navbar-dark .navbar-nav .nav-link.active {
    font-weight: bold;
    color: var(--secondary-color);
}

.navbar-toggler {
    margin: 10px;
}

.navbar-toggler:focus {
    color: var(--secondary-color);
}

.container-introduction {
    background-color: var(--fourht-color);
    color: var(--primary-color);
    padding: 20px;
    padding-bottom: 40px;
}

.material-symbols-outlined {
    color: var(--secondary-color);

}

h1,
h2,
h3 {
    text-align: center;

}

h1 {
    font-size: 4em;
    font-weight: 900;
}

h2 {
    font-size: 1.5em;
    font-weight: 700;
    margin-top: 120px;
}

h3 {
    margin: 0;
    font-size: 1.3em;
    letter-spacing: .15em;
}

@media (min-width: 670px) {
    .typewriter h3 {
        max-width: fit-content;
        overflow: hidden;
        /* Ensures the content is not revealed until the animation */
        border-right: .15em solid var(--secondary-color);
        /* The typwriter cursor */
        white-space: nowrap;
        /* Keeps the content on a single line */
        margin: 0 auto;
        /* Gives that scrolling effect as the typing happens */
        animation:
            typing 5.5s steps(60, end),
            blink-caret .75s step-end infinite;
    }

    /* The typing effect */
    @keyframes typing {
        from {
            width: 0
        }

        to {
            width: 100%
        }
    }

    /* The typewriter cursor effect */
    @keyframes blink-caret {

        from,
        to {
            border-color: transparent
        }

        50% {
            border-color: var(--secondary-color)
        }
    }
}

.portrait {
    width: 160px;
    display: block;
    margin: 20px auto;
    border-radius: 50%;
}

.content-homepage {
    padding: 50px 0px 100px 0px;
    width: 55%;
    display: block;
    margin: auto;
}

.container-info {
    margin: 30px auto;
    background-color: var(--fourht-color);
    color: var(--primary-color);
    padding: 50px 30px 50px 30px;
    border-radius: 25px;
}

.weather-app-img,
.html-img {
    display: block;
    margin: 10px auto;
    border-radius: 25px;
    width: 350px;
}

.button-link {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    padding: 20px;
    transition: all 0.3s ease-in-out;
}

.button-link:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

footer {
    text-align: center;
    padding: 50px;
    width: 100%;
    position: relative;
    left: 0;
    bottom: 0;
    background: var(--fourht-color);
}

.fa-brands {
    text-align: center;
    font-size: 30px;
    margin-right: 40px;
    margin-left: 40px;
    color: var(--secondary-color);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.fa-brands:hover {
    color: var(--primary-color);
}

footer p {
    color: var(--secondary-color);

}

footer .repository-link {
    color: var(--secondary-color);
    transition: all 0.3s ease-in-out;
}

footer .repository-link:hover {
    color: var(--primary-color);
}